@import "tailwindcss";

/* Force dark mode to trigger with .dark class instead of system preference */
@variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --color-primary: #1337ec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101322;
  --color-sidebar-dark: #1a1e2e;

  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-gray-700 rounded-full hover:bg-slate-300 dark:hover:bg-gray-600 transition-colors;
  }
}

body {
  @apply font-sans antialiased text-gray-900 dark:text-gray-100 bg-background-light dark:bg-background-dark transition-colors duration-300;
}